.App {
  font-family: sans-serif;
  text-align: center;
}

.form-wrapper {
  width: 300px;
  margin: 10px auto;
  text-align: left;
}

.form-values {
  width: 100%;
  background: #f2f2f2;
  text-align: left;
  padding: 15px;
}

.form-values pre {
  font-size: 12px;
}
